<div class="home-page">
  <v-col v-if="possibleFilterOptions.length > 0" cols="2">
    <v-select
      class="show-documents__dropdown"
      v-model="selectedFilterOption"
      placeholder="Filter"
      :items="possibleFilterOptions"
      item-text="text"
      single-line
      filled
      dense
      solo
      backgroundColor="#aaa"
      color="#aaa"
    ></v-select>
  </v-col>
  <div v-for="filter in selectedFilters">
    <FilterQuery
      :filterName="filter"
      @filter-query="filterQueryHandler"
      @delete-selected-filter="deletedFilterHandler"
    ></FilterQuery>
  </div>
  <ShowDocuments
    @filter-options="filterOptionsHandler"
    :filter="filter"
    :showQueryButton="showQueryButton"
  ></ShowDocuments>
</div>
